{% extends "base.html" %}

{% block content %}
<h2> Head-to-Head History </h2>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.player1.label }}<br>
        {{ form.player1(size=32) }}
    </p>
    <p>
        {{ form.player2.label }}<br>
        {{ form.player2(size=32) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
<h3>Head-to-Head Summary</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col"> Name </th>
            <th scope="col"> Wins </th>
            <th scope="col"> Losses </th>
            <th scope="col"> Elo Diff</th>
        </tr>
    </thead>
    {% for key, value in summary.items() %}
    <th scope="row"> {{ key }} </th>
    <td> {{ value.wins }} </td>
    <td> {{ value.losses }} </td>
    <td> {{ value.elo_diff }}</td>
    </tr>
    {% endfor %}
</table>
<br>
<br>
<h3>Head-to-Head Results</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Player1</th>
            <th scope="col">Player2</th>
            <th scope="col">Player1 Score</th>
            <th scope="col">Player2 Score</th>
            <th scope="col">Player1 Elo Diff</th>
            <th scope="col">Player2 Elo Diff</th>
        </tr>
    </thead>
    <tbody>
        {% for match in matches %}
        <th scope="row"> {{ match.id }} </th>
        <td> {{ match.player1 }} </td>
        <td> {{ match.player2 }} </td>
        <td> {{match.p1_score }} </td>
        <td> {{match.p2_score }} </td>
        <td> {{match.p1_elo_diff }} </td>
        <td> {{match.p2_elo_diff }} </td>
        </tr>
        {% endfor %}
    </tbody>
    {% endblock %}